%h1 CUSTOMER LIST
%table{:border =>2, :width => "100%"}
  %tr
    %th ID
    %th Customer Name
    %th Customer Surname
    %th Gender
    %th Mail
    %th Phone
    %th Address
    %th{:colspan => "3"}
  - @customers.each do |v|
    %tr
      %td= v.id
      %td= v.cusFName
      %td= v.cusLName
      %td
        -if v.cusGender == false
          Female
        -else
          Male
      %td= v.cusMail
      %td= v.cusPhone
      %td= v.cusAdress
%br/
%br/
%br/
= link_to 'Back to Homepage', root_path
|
= link_to 'New Customer', new_customer_path
|
= link_to 'Get PDF to customer list', customers_path(@customers, :format => :pdf)