%p
  %strong ID:
  = @customer.id
%p
  %strong Customer Name:
  = @customer.cusFName
%p
  %strong Customer Surname:
  = @customer.cusLName
%p
  %strong Gender:
  - if @customer.cusGender == false
    Female
  - else
    Male
%p
  %strong Mail:
  = @customer.cusMail
%p
  %strong Telephone:
  = @customer.cusPhone

%br/
%br/
= link_to 'Back', customers_path
|
= link_to 'Edit', edit_customer_path(@customer)
|
= link_to 'Delete', customer_path(@customer), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }