= simple_form_for @rental do |f|
  - if @rental.errors.any?
    #error_explanation
      %h2
        = pluralize(@rental.errors.count, "error")
        prohibited
        this rental from being saved:
      %ul
        - @rental.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :startDate
    %br/
    = f.text_field :startDate
  %p
    = f.label :finishDate
    %br/
    = f.text_field :finishDate
  %p
    = f.label :paymentSt
    %br/
    = f.text_field :paymentSt
  %p
    = f.label :vehicle_id
    %br/
    = f.collection_select :vehicle_id, Vehicle.order(:licensePlate),:id,:licensePlate, include_blank: false
  %p
    = f.label :customer_id
    %br/
    = f.collection_select :customer_id, Customer.order(:cusPhone),:id,:cusPhone, include_blank: false
  %p
    = f.submit