%h1 RENTAL OPERATIONS
%table{:border =>2, :width => "100%"}
  %tr
    %th ID
    %th Start Date
    %th Finish Date
    %th Payment Status
    %th Vehicle License Plate
    %th Customer
    %th{:colspan => "3"}
  - @rentals.each do |v|
    %tr
      %td= v.id
      %td= v.startDate
      %td= v.finishDate
      %td= v.paymentSt
      %td= v.vehicle.licensePlate
      %td= v.customer.full_name
      %td= link_to 'Show', rental_path(v)
%br/
%br/
%br/
= link_to 'Back to Homepage', root_path
|
= link_to 'New Rental', rentals_new_path
|
= link_to 'Get PDF to rental list', rentals_path(@rentals, :format => :pdf)

