!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rent A Car
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p.notice= notice
    %p.alert= alert
    %header.navbar.navbar-inverse
      .navbar-class
        .container
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "#"} HOME
            %li= link_to "VEHICLES", vehicles_path
            %li= link_to "CATEGORIES", categories_path
            %li= link_to "BRANDS", brands_path
            %li= link_to "RENTAL OPERATIONS", rentals_path
            %li= link_to "CUSTOMER OPERATIONS", customers_path
            %li
              %a{:href => "#"} CONTACT
            %li= link_to "Sign In Admin", new_admin_session_path
            - if current_user
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Sign In", new_user_session_path
              %li= link_to "Sign Up", new_user_registration_path
    = yield
